/* Estilos para la sección resumida */
.story {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y translúcido */
    color: white;
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
  }
  
  .story .button {
    background-color: #FF5722;
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .story .button:hover {
    background-color: #E64A19;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .story {
      padding: 20px 10px; /* Menos padding en pantallas pequeñas */
    }
  
    .story .button {
      padding: 10px 20px; /* Botón más pequeño */
      font-size: 1rem; /* Ajustar tamaño de fuente en pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .story h1 {
      font-size: 1.5rem; /* Tamaño de fuente más pequeño en pantallas muy pequeñas */
    }
  
    .story p {
      font-size: 1rem; /* Ajuste del tamaño del texto en pantallas pequeñas */
    }
  
    .story .button {
      padding: 8px 16px; /* Botón aún más pequeño */
      font-size: 0.9rem; /* Reducir un poco más el tamaño del texto */
    }
  }
  